/*----setting----*/
@font-face {
    font-family: 'sukhumvit_setthin';
    src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot");
    src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-thin-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-thin-webfont-webfont.svg#sukhumvit_setthin") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'sukhumvit_setmedium';
    src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot");
    src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"),  url("../fonts/sukhumvitset-medium-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-medium-webfont-webfont.svg#sukhumvit_setmedium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'sukhumvit_settext';
    src: url("../fonts/sukhumvitset-text-webfont-webfont.eot");
    src: url("../fonts/sukhumvitset-text-webfont-webfont.eot?#iefix") format("embedded-opentype"),  url("../fonts/sukhumvitset-text-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-text-webfont-webfont.svg#sukhumvit_settext") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'sukhumvit_setbold';
    src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot");
    src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot?#iefix") format("embedded-opentype"),  url("../fonts/sukhumvitset-bold-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-bold-webfont-webfont.svg#sukhumvit_setbold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  html{scroll-behavior: smooth;}
  body{font-family: 'sukhumvit_setmedium'; color: #5e5e5e;}
  h1,h2,h3,h4,h5,h6 {font-family: 'sukhumvit_setbold'; line-height: 1.8;}
  p{line-height: 1.9; font-size: 16px; margin-top: 15px;}
  
  .text-orange {color: #F54D00;}
  .text-blue {color: #0066b2;}
  .text-darkblue {color: #025798;}
  .text-white{color:#fff;}
  .text-gray{color:#6B6B6B;}
  
  .text-bold {font-family: 'sukhumvit_setbold';}
  .text-center{text-align: center;}
  .text-right{text-align: right;}
  
  .text-f18{font-size: 18px !important;}
  .text-f20{font-size: 20px !important;}
  .text-f24{font-size: 24px !important;}
  .text-f26{font-size: 26px !important;}
  .text-f40{font-size: 40px !important;}
  .text-bold{font-family: 'sukhumvit_setbold';}
  
  .m-5{margin-top: -5px;}
  
  .bg-drakblue{
  background: rgba(0,101,178,1);
  background: -moz-linear-gradient(top, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,101,178,1)), color-stop(100%, rgba(1,50,90,1)));
  background: -webkit-linear-gradient(top, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
  background: -o-linear-gradient(top, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
  background: linear-gradient(to bottom, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065b2', endColorstr='#01325a', GradientType=0 );
  }
  
  .bg-bluegra {background: #353796;
  background: -moz-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #353796), color-stop(74%, #1e75ce), color-stop(77%, #1d77d0));
  background: -webkit-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
  background: -o-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
  background: -ms-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
  background: linear-gradient(to bottom, #353796 0%, #1e75ce 74%, #1d77d0 77%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353796', endColorstr='#1d77d0', GradientType=0 );}
  
  .bg-orange {background: #fe592d;
  background: -moz-linear-gradient(top, #fe592d 0%, #f1961a 74%, #f09819 77%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fe592d), color-stop(74%, #f1961a), color-stop(77%, #f09819));
  background: -webkit-linear-gradient(top, #fe592d 0%, #f1961a 74%, #f09819 77%);
  background: -o-linear-gradient(top, #fe592d 0%, #f1961a 74%, #f09819 77%);
  background: -ms-linear-gradient(top, #fe592d 0%, #f1961a 74%, #f09819 77%);
  background: linear-gradient(to bottom, #fe592d 0%, #f1961a 74%, #f09819 77%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe592d', endColorstr='#f09819', GradientType=0 );}
  
  
  /*----Header----*/
  
  #headerLogo img{margin-bottom: 70px !important;}
  section#header{
      background-image:url(../img-ucom-1/header_bg.png);
      background-size: cover;
      height:750px;
  }
  .fix-header #menu {position: absolute;right: 40px; top: 45px;font-size: 20px;}
  .fix-header #menu a:hover{color: #ffb331;}
  .fix-header #menu a:active,.fix-header #menu a:focus{color: #fff;}
  
  #contact { padding-top: 90px; padding-bottom: 105px;}
  #contact h1{font-size: 30px; padding: 0px 14%; line-height: 1.6;}
  
  .btn-outro a{font-size: 24px;padding: 15px 55px;border: none;margin-top: 20px;
  background: rgba(230,26,36,1);
  background: -moz-linear-gradient(top, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,26,36,1)), color-stop(100%, rgba(170,14,19,1)));
  background: -webkit-linear-gradient(top, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
  background: -o-linear-gradient(top, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
  background: -ms-linear-gradient(top, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
  background: linear-gradient(to bottom, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
  -webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.45);
      -moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.45);
      box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.45);
  }
  .btn-outro a:hover{
      background: rgba(161,16,23,1);
  background: -moz-linear-gradient(top, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(161,16,23,1)), color-stop(100%, rgba(112,9,12,1)));
  background: -webkit-linear-gradient(top, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
  background: -o-linear-gradient(top, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
  background: -ms-linear-gradient(top, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
  background: linear-gradient(to bottom, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
  }
  
  #footer img{margin-top: 25px;}
  span.name-social {color: #fff; font-size: 20px; position: relative; top: -35px; margin-left: 70px;}
  
  /*----responsive----*/
  @media (max-width: 1600px){
      section#header p {padding: 0px 31%;}
  }
  @media (max-width: 1440px){
      section#header p {padding: 0px 29%;}
  }
  @media (max-width: 1280px){
      section#header p {padding: 0px 27%;}
  }
  @media (max-width: 1199px){
      h3.text-outro{padding: 0 2em;}
      #contact h1{padding: 0px 5%;}
      img.img-content.img1,img.img-content.img2,img.img-content.img3{margin-top: 10em;}
      img.img-content.img4 {margin-top: 7em;}
      #footer img {margin-top: 25px; width: 35px;}
      span.name-social {top: -30px; margin-left: 57px;}
      .content .service .facebook {padding-right: 9%;}
      section#header p {padding: 0px 25%;}
  }
  @media (max-width: 1130px){
  }
  @media (max-width: 1024px){
      section#header h1 {font-size: 46px;}
      section#header h3 {font-size: 24px;}
      section#header p {font-size: 18px; padding: 0px 24%;}
      .content h3{font-size: 22px;}
      .content p.text-f20{font-size: 18px !important;}
      #contact .text-f26{font-size: 21px !important;}
      #contact h1 {font-size: 24px;}
      #contact .text-f20{ font-size: 18px !important;}
      .btn-outro a {font-size: 20px;}
      span.name-social{font-size: 16px; top:-26px;}
      .content .service .facebook {padding-right: 18%;}
  }
  @media (max-width: 1000px){
  
  }
  @media (max-width: 991px){
      img.img-content.img1, img.img-content.img2, img.img-content.img3, img.img-content.img4 {margin-top: 1.5em; margin-bottom: 1.5em;}
      .content .service .facebook {padding-right: 0%;}
      .box-logo img.img-logo {height: 40px;}
      .intro .store{font-size: 17px !important;}
      .content .service .facebook {padding-right: 0%;}
  }
  @media (max-width: 768px){
      .content p.text-f20{font-size: 16px !important;}
      section#header p {padding: 0px 15%;}
  }
  @media (max-width: 640px){
      #headerLogo img{margin: 10px!important; width: 160px; margin-bottom: 60px !important;}
      .fix-header #menu {right: 30px;top: 24px; font-size: 16px;}
      section#header h1 {font-size: 26px;}
      section#header h3 {font-size: 18px;padding: 0 42px; margin-top: 10px;}
      section#header p {font-size: 15px; padding: 0 14%;}
      button.modal-open{margin-left: -10%;}
      button.modal-open img{width: 130px;}
      .intro h1{font-size: 24px;}
      section.content {margin-top: 200px;}
      .content h3 {font-size: 18px;}
      #contact h1{padding: 0px; font-size: 21px;}
      #contact .text-f26 {font-size: 18px !important;padding: 0 35px;}
      #contact .text-f20 {font-size: 16px !important; padding: 0 20px;}
      .btn-outro a{padding: 15px 25px;}
      p.text-testimonal {font-size: 19px;}
      h2.text-testimonal { font-size: 24px;}
      #footer img {margin-top: 20px;}
      .testimonal-detail{padding: 20px 25px 38px 25px;}
  
  }
  @media (max-width: 414px){
      .header-img img.vdo{width: 360px;}
      button.modal-open {margin-left: -68px; margin-top: 80px;}
      section#header {height: 630px;}
      .testimonal-detail{padding: 38px 25px 38px 25px;}
      .testimonal-arrow{margin-left: 185px!important;}
  }
  @media (max-width: 375px){
      section#header p {font-size: 15px; padding: 0 10%;}
      .testimonal-arrow{margin-left: 160px!important;}
  }
  @media (max-width: 320px){
      button.modal-open {margin-left: -55px;}
      button.modal-open img {width: 100px;}
      p.text-testimonal{font-size: 16px; margin-top: 5px;}
      #footer img {width: 25px;}
      span.name-social {margin-left: 35px; font-size: 14px;}
      #contact .text-f26 {font-size: 18px !important;padding: 0px;}
      #contact .text-f20 {font-size: 16px !important; padding: 0px;}
      .btn-outro a {padding: 15px 20px;}
  }