body{
    font-family: 'Prompt', sans-serif;
}

#header{
    background-image: url('../image-ebs/header background.png');
    
  /* Set a specific height */


  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 890px;
}

.div-header{
    margin-top: 200px;
}

#education{
    font-size: 64px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#solution{
    font-size: 48px;
    color: white;
    text-align: center;
}

.desc-education{
    font-size: 20px;
    color: white;
    text-align: center;
}

#btn-yellow{
    background-image: linear-gradient( #ffc966, #ffb833, orange, orange);
    color: white;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

#btn-red{
    background-image: linear-gradient(#ff6666, #ff4d4d, red,red);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.div-btn{
    margin-top: 80px;
}

.logo-tarad{
    width: 100%;
    margin-top: 10px;
}



/* section content-1 start */


/* section content-1 end */









@media (max-width: 500px) {

/* section content-1 start */
    #education{
        font-size: 48px;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    
    #solution{
        font-size: 28px;
        color: white;
        text-align: center;
    }
    
    .desc-education{
        font-size: 14px;
        color: white;
        text-align: center;
    }

    #btn-red{
        margin-top: 30px;
    }

    .div-header{
        margin-top: 80px;
    }

    .div-btn{
        margin-top: 50px;
    }

    #header{
        height: 100%;
        padding-bottom: 100px;
    }
/* section content-1 end */
}










@media (max-width: 800px) {

/* section header start */
    .desc-education{
        font-size: 20px;
        color: white;
        text-align: center;
    }

    .div-header{
        margin-top: 50px;
    }

    .div-btn{
        margin-top: 50px;
    }

    #header{
        height: 100%;
        padding-bottom: 100px;
    }
/* section header end */



/* section content-1 start */


/* section content-1 end */

}