/*----setting----*/
@font-face {
	font-family: 'sukhumvit_setthin';
	src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot");
	src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-thin-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-thin-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-thin-webfont-webfont.svg#sukhumvit_setthin") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sukhumvit_setmedium';
	src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot");
	src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-medium-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-medium-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-medium-webfont-webfont.svg#sukhumvit_setmedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sukhumvit_settext';
	src: url("../fonts/sukhumvitset-text-webfont-webfont.eot");
	src: url("../fonts/sukhumvitset-text-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-text-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-text-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-text-webfont-webfont.svg#sukhumvit_settext") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sukhumvit_setbold';
	src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot");
	src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-bold-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-bold-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-bold-webfont-webfont.svg#sukhumvit_setbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'sukhumvit_setmedium';
	color: #5e5e5e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'sukhumvit_setbold';
	line-height: 1.8;
}

strong {
	font-family: 'sukhumvit_setbold';
	line-height: 1.8;
}

p {
	line-height: 1.9;
	font-size: 16px;
	margin-top: 15px;
}


.mb-20 {
	margin-bottom: 20px;
}

.text-orange {
	color: #F54D00;
}

.text-blue {
	color: #0066b2!important;
}

.text-darkblue {
	color: #025798;
}

.topic {
	color: #025798;
}

.text-white {
	color: #fff;
}

.text-gray {
	color: #6B6B6B;
}

.text-darkgray {
	color: rgb(56, 56, 56);
}

.text-bold {
	font-family: 'sukhumvit_setbold';
}

.text-medium {
	font-family: 'sukhumvit_setmedium';
}

.text-light {
	font-family: 'sukhumvit_setlight';
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-black{
	color: black!important;
}

.text-f18 {
	font-size: 18px !important;
}

.text-f20 {
	font-size: 20px !important;
}

.text-f24 {
	font-size: 24px !important;
}

.text-f26 {
	font-size: 26px !important;
}

.text-f40 {
	font-size: 40px !important;
}

.text-bold {
	font-family: 'sukhumvit_setbold';
}

.m-5 {
	margin-top: -5px;
}

.bg-drakblue {
	background: #0065b2;
	background: -moz-linear-gradient(top, #0065b2 0%, #01325a 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #0065b2), color-stop(100%, rgba(1, 50, 90, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%);
	background: -o-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%);
	background: -ms-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065b2', endColorstr='#01325a', GradientType=0);
}

.bg-bluegra {
	background: #353796;
	background: -moz-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #353796), color-stop(74%, #1e75ce), color-stop(77%, #1d77d0));
	background: -webkit-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
	background: -o-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
	background: -ms-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
	background: linear-gradient(to bottom, #353796 0%, #1e75ce 74%, #1d77d0 77%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353796', endColorstr='#1d77d0', GradientType=0);
}

.btn-bluegra {
	color: white;
	background: #0065b2;
	background: -moz-linear-gradient(top, #0065b2 0%, #01325a 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #0065b2), color-stop(100%, rgba(1, 50, 90, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%);
	background: -o-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%);
	background: -ms-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065b2', endColorstr='#01325a', GradientType=0);
}

.btn-bluegra:hover {
	color: white;
	background: #01325a;
	background: -moz-linear-gradient(top, #01325a 0%, #00203a 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #01325a), color-stop(100%, #00203a));
	background: -webkit-linear-gradient(top, rgba(1, 50, 90, 1) 0%, rgb(0, 32, 58) 100%);
	background: -o-linear-gradient(top, rgba(1, 50, 90, 1) 0%, rgb(0, 32, 58) 100%);
	background: -ms-linear-gradient(top, rgba(1, 50, 90, 1) 0%, rgb(0, 32, 58) 100%);
	background: linear-gradient(to bottom, rgba(1, 50, 90, 1) 0%, rgb(0, 32, 58) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01325a', endColorstr='#00203a', GradientType=0);
}

.btn-orange {
	border-color: #cc2200;
	color: white;
	background: rgb(204, 34, 0);
	background: -moz-linear-gradient(0deg, #cc2200 0%, #db3500 50%);
	background: -webkit-linear-gradient(0deg, rgba(204, 34, 0, 1) 0%, rgba(219, 53, 0, 1) 50%);
	background: linear-gradient(0deg, rgba(204, 34, 0, 1) 0%, rgba(219, 53, 0, 1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc2200", endColorstr="#db3500", GradientType=1);
}

.btn-orange:hover {
	border-color: #852202;
	color: white;
	background: #852202;
	background: -moz-linear-gradient(0deg, #852202 0%, #6d1c01 50%);
	background: -webkit-linear-gradient(0deg, #852202 0%, #6d1c01 50%);
	background: linear-gradient(0deg, #852202 0%, #6d1c01 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#852202", endColorstr="#6d1c01", GradientType=1);
}


.btn-more a {
	padding: 10px 20px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 0;
}

.btn-more a:hover {
	background-color: #fe592d;
	border: 1px solid #fe592d !important;
}

.bg-white .btn-more a {
	background: transparent;
	border: 1px solid #a1a3a7;
	border-radius: 0;
	color: #2e2e30;
}

.btn-more.btn-orange a {
	color: #fe592d !important;
	border-color: #fe592d;
}

.btn-more.btn-orange a:hover {
	color: #fff !important;
}

.title-service {
	text-align: center;
	margin: 0;
	padding: 0;
}

.title-service.bg-tt-orange h3 {
	font-size: 23px;
	color: #fff;
	background: #ff522f;
	background: -moz-linear-gradient(-45deg, #ff522f 0%, #f09719 58%, #f09819 59%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #ff522f), color-stop(58%, #f09719), color-stop(59%, #f09819));
	background: -webkit-linear-gradient(-45deg, #ff522f 0%, #f09719 58%, #f09819 59%);
	background: -o-linear-gradient(-45deg, #ff522f 0%, #f09719 58%, #f09819 59%);
	background: -ms-linear-gradient(-45deg, #ff522f 0%, #f09719 58%, #f09819 59%);
	background: linear-gradient(135deg, #ff522f 0%, #f09719 58%, #f09819 59%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff522f', endColorstr='#f09819', GradientType=1);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: inline-block;
	margin: auto;
	width: 370px;
	padding: 12px 20px;
}

.title-service.bg-tt-blue h3 {
	font-size: 23px;
	color: #fff;
	background: #353796;
	background: -moz-linear-gradient(-45deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #353796), color-stop(58%, #1e75ce), color-stop(59%, #1d77d0));
	background: -webkit-linear-gradient(-45deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
	background: -o-linear-gradient(-45deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
	background: -ms-linear-gradient(-45deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
	background: linear-gradient(135deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff522f', endColorstr='#f09819', GradientType=1);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: inline-block;
	margin: auto;
	width: 370px;
	padding: 12px 20px;
}

.long .title-service.bg-tt-blue h3,
.long .title-service.bg-tt-orange h3 {
	width: 450px;
}

li {
	line-height: 1.9;
	font-size: 16px;
}

ul {
	padding-left: 20px !important;
}

.ico {
	background-image: url(https://www.tarad.net/wp-content/themes/taradnet/images/icon-taradnet.png);
	background-repeat: no-repeat;
	background-size: 560px;
	width: 29px;
	height: 29px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.ico.ico-chackgreen,
.ico.ico-unchack {
	background-size: 800px;
	width: 50px;
	height: 28px;
	transform: scale(0.8);
}

.ico.ico-unchack {
	background-position: -655px -85px;
}

.ico.ico-chackgreen {
	background-position: -612px -82px;
}

.text-orange.free {
	font-size: 25px;
}

.text-orange.total {
	font-size: 18px;
	font-family: 'sukhumvit_setbold';
}

.b-20 {
	margin-bottom: 20px;
}

.b-10 {
	margin-bottom: 10px;
}

.footer-mobile{
	display: none;
}

.t-10 {
	margin-top: 10px;
}

/*----Header----*/

#headerLogo img {
	margin-bottom: 70px !important;
}

section#header {
	background-image: url('../img/Ecommerce Website picture/header Background.png');
	background-size: cover;
	height: 750px;
}

.fix-header #menu {
	position: absolute;
	right: 40px;
	top: 45px;
	font-size: 20px;
}

.fix-header #menu a:hover {
	color: #ffb331;
}

span.name-social {color: #fff; font-size: 20px; position: relative; top: -38px; margin-left: 60px;}

.fix-header #menu a:active,
.fix-header #menu a:focus {
	color: #fff;
}

section#header h1 span {
	font-family: 'sukhumvit_setmedium';
}

section#header h1 {
	font-size: 60px;
}

section#header h3 {
	margin-top: -15px;
	font-size: 26px;
}

section#header p {
	font-size: 20px;
	padding: 0 34%;
}

.btn.btn-outline {
	color: #fff;
	font-size: 18px;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 10px 25px;
	margin-top: 20px;
}

.btn.btn-outline:hover {
	background-color: #025798;
}

button.modal-open {
	position: absolute;
	margin-top: 175px;
	margin-left: -95px;
	background: transparent;
	border: transparent;
}

button.modal-open:focus {
	outline: none;
}


.modal-header {
	border: none;
}

.modal-content {
	background-color: transparent;
	box-shadow: none;
	border: none;
}

.close {
	font-size: 50px;
	color: #fff;
	opacity: 1;
}

/*----content----*/

img.img-header {
	width: 100%;
}

.content .bg {
	background-color: #fff;
	padding: 4.5em 5.5em 480px 5.5em;
	position: relative;
	top: -70px;
	-webkit-box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}

.content p.indent {
	text-indent: 2.5em;
}

.content p.list {
	margin-left: 4.4em;
}

.content .content-detail p {
	margin-bottom: 0px;
	margin-top: 12px;
	color: #888;
}

.content .content-detail li {
	color: #888;
}

.content-detail {
	margin-top: 25px;
}

.content h3 {
	margin-top: 10px;
}

.content .service {
	margin-top: 70px;
}

.content .service .facebook {
	padding-right: 26%;
}

.content .service .right {
	float: right;
}

img.img-content {
	width: auto;
	height: auto;
	margin: auto;
}

img.img-content.img1 {
	width: 470px;
	margin-top: 8em;
}

img.img-content.img2 {
	margin-top: 5em;
}

img.img-content.img3 {
	margin-top: 7em;
}

h3.text-outro {
	padding: 0 6em;
}

section.content {
	margin-top: 340px;
}

.box-logo {
	margin-top: 30px;
}

#contact {
	/* padding-top: 90px; */
	padding-bottom: 105px;
}


.btn-outro a {
	font-size: 24px;
	padding: 15px 55px;
	border: none;
	margin-top: 20px;
	background: rgba(230, 26, 36, 1);
	background: -moz-linear-gradient(top, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230, 26, 36, 1)), color-stop(100%, rgba(170, 14, 19, 1)));
	background: -webkit-linear-gradient(top, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	background: -o-linear-gradient(top, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	background: -ms-linear-gradient(top, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	background: linear-gradient(to bottom, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	-webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.45);
}

.btn-outro a:hover {
	background: rgba(161, 16, 23, 1);
	background: -moz-linear-gradient(top, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(161, 16, 23, 1)), color-stop(100%, rgba(112, 9, 12, 1)));
	background: -webkit-linear-gradient(top, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
	background: -o-linear-gradient(top, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
	background: -ms-linear-gradient(top, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
	background: linear-gradient(to bottom, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
}

/*----responsive----*/
section.wordpress {
	background-image: url('../img/Ecommerce Website picture/wordpress-bg.png');
	background-size: cover;
}

section.magento {
	padding: 20px;
	background-image: url('../img/Ecommerce Website picture/magento-bg.png');
	background-size: cover;
	color: #fff
}

ี .mgt-dtail-end {
	color: white;
	font-size: 19px;
	text-align: center;
	font-family: 'sukhumvit_setbold';
}

#contact {
	background-image: url('../img/Ecommerce Website picture/footer backgrond.png');
	background-size: cover;
}

.tx-contact{
	padding-top: 20px;
}

.content-2{
	color: black!important;
	font-weight: bold!important;
}

.wp-ft-list {
	padding: 10px;
	background-color: rgb(231, 231, 231);
	border-radius: 5px;
	-webkit-box-shadow: 4px 6px 8px 2px rgba(0,0,0,0.46);
	-moz-box-shadow: 4px 6px 8px 2px rgba(0,0,0,0.46);
	box-shadow: 4px 6px 8px 2px rgba(0,0,0,0.46);
}
.wp-ft-head, .wp-ft-sub {
	color:white;
}
#footer img {
	margin: auto;
	margin: 30px 0px 0px 0px;
    /* padding: 5px; */
}
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width:800px) {
	.footer-mobile{
		display: block;
	}
	.footer-pc{
		display: none;
	}
	#footer img{
		margin: 10px 0px!important;
	}
	.div-empty{
		margin-top: 50px;
	}
	.tx-contact{
		padding-top: 20px;
	}
}

@media (max-width:400px) {
	#menu{
		position: static!important;
		float: right;
		margin-top: 5px;
		margin-right: 15px;
	}

	.tx-contact{
		padding-top: 10px;
	}
}


@media (min-width:320px) {
	section#header {
		height: 260px;
		margin-bottom: 55%;
	}
	.header-content {
		font-size: 14px;
	}
	img.header-img {
		max-width: 50%;
	}
	.btn-header {
		padding: 10px;
	}
	section#header p {
		font-size: 14px;
		padding: 0 10%;
	}
	section#header h1 {
		font-size: 20px;
	}

	section.content {
		margin-top: 0px;
		margin-bottom: 50px
	}

	.topic-header {
		font-size: 18px;
		margin-top: 5px;
	}

	.content-detail {
		margin-top: 0px;
	}

	.topic-text {
		font-size: 17px;
		padding: 0px 10px;
		color: #025798;
	}

	.wordpress {
		padding: 20px;
		color: white;
		margin-bottom: 100px;
	}

	.pre-wp-header {
		color: white;
		margin-bottom: 0px;
		font-size: 17px;
	}

	.topic-text.wp-header,
	.wp-dtail-topic {
		color: white;
		margin-top: 0px;
		padding: 0px;
	}
	.wp-dtail, .magento-content, .mgt-dtail-1, .magento-detail, .magento-cont-text {
		padding: 0px;
	}
	.wp-dtail-topic {
		margin-bottom: 15px;
	}

	.wp-footer {
		padding: 0px;
		margin-top: 20px;
	}

	.wp-head-dtail {
		margin-bottom: 20px;
	}

	.wp-text-content {
		margin-bottom: 50px;
	}

	.wp-dtail-list {
		margin: 10px 0px;
	}

	.wp-footer {
		color: #0066b2;
	}

	.wp-ft-head {
		border-bottom: solid 3px hsl(0, 0%, 100%);
	}

	.magento {
		margin-bottom: 10px;
	}

	.magento-header {
		margin-bottom: 0px;
		font-size: 26px;
	}

	.magento-sub-head {
		margin-top: 0px;
		font-size: 18px;
	}

	.magento-dtail-ul {
		margin-top: 20px
	}

	.magento-img,
	.magento-dtail-img {
		max-width: 70%;
		margin: auto;
	}

	.magento-image,
	.magento-detail {
		padding-bottom: 20px;
	}

	.mgt-dtail-end {
		color: white;
		font-family: "sukhumvit_setbold";
		text-align: center;
		font-size: 15px;
	}

	.dtail-btn-contact>h2 {
		font-size: 20px;
	}

	.dtail-btn {
		font-size: 24px;
	}

	#footer img {
		width: 100px;
	}

	#contact .text-f26 {
		font-size: 18px !important;
		padding: 0px;
	}

	#contact .text-f20 {
		font-size: 16px !important;
		padding: 0px;
	}

	.btn-outro a {
		padding: 15px 20px;
	}

}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
	section#header {
		height: 395px;
		margin-bottom: 40%;
	}

	#headerLogo img {
		margin: 10px;
		width: 160px;
		margin-bottom: 60px;
	}

	.fix-header #menu {
		right: 30px;
		top: 24px;
		font-size: 16px;
	}

	section#header p {
		font-size: 24px;
		margin-bottom: 0px;
	}

	section#header h1 {
		font-size: 32px;
		margin-top: 0px;
	}

	.btn-header {
		padding: 16px 60px;
		margin: 20px;
		font-size: 20px;
	}

	.content {
		margin-bottom: 100px;
	}

	img.img-content {
		margin-bottom: 50px;
	}

	.content-detail {
		margin-top: 0px;
	}

	.topic-text,
	.pre-wp-header,
	.magento-header {
		font-size: 26px;
	}

	.wp-img-blog,
	.wp-img-commu {
		float: right;
	}

	.descript-web,
	.descript-blog,
	.descript-ecom,
	.descript-commu {
		padding: 50px 20px;
	}

	.descript {
		font-size: 20px;
	}

	.img-content,
	.own-web-img {
		width: 45% !important;
		margin: auto;
	}

	.wp-dtail-topic {
		margin-top: 20px;
	}

	.wp-text-content {
		margin-bottom: 40px;
	}

	.wp-ft-head {
		font-size: 25px;
		padding: 0px 20px;
		margin: 0px 120px;
	}

	.wp-footer {
		margin-top: 20px;
	}

	.wp-ft-sub {
		padding: 0px 25px;
		margin: 0px 120px;
	}

	.wp-ft-list {
		margin-top: 20px;
		padding: 20px !important;
	}

	.magento-cont-head {
		font-size: 18px;
		margin-bottom: 0px;
	}

	.magento-cont-sub-head {
		font-size: 18px;
		margin-top: 0px;
	}

	.magento-img {
		margin: auto;
		max-width: 90%;
	}

	.mgt-dtail-1 {
		margin-top: 20px;
	}

	.mgt-dtail-2 {
		margin-top: 40px;
	}

	.mgt-dtail-end {
		font-size: 26px;
	}

	.dtail-btn-contact h2 {
		font-size: 36px;
	}

	.dtail-btn {
		font-size: 50px;


	}
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {
	.descript {
		font-size: 24px;
	}

	.mgt-dtail-end {
		font-size: 30px;
	}

	.dtail-btn-contact h2 {
		font-size: 36px;
	}

	.dtail-btn {
		font-size: 50px;
	}
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
	section#header {
		height: 410px;
		margin-bottom: 30%;
	}
	section.wordpress, section.magento {
		padding-top: 70px;
		margin-bottom: 200px;
	}
	img.header-img {
		max-width: 30%;
	}
	.topic-text {
		font-size: 26px;
	}
	.content-detail p{
		font-size: 20px;
	}
	.magento-cont-head{
		font-size:20px
	}
	.li.own-list, .wp-head-dtail, .wp-dtail-list, .wp-ft-li, .mgt-dtail-1, .magento-cont-sub-head, .magento-cont-list-head, .magento-list, .magento-dtail-li {
		font-size: 20px;
	}
}
/* hi-res laptops and desktops */ 
@media (min-width:1281px) {
	section#header {
		height: 443px;
		margin-bottom: 30%;
	}
	section.content {
		margin-bottom: 80px;
	}
	section.wordpress, section.magento {
		padding-top: 100px;
		margin-bottom: 50px;
	}
	section.magento .container {
		margin-bottom: 50px;
	}
	.mgt-dtail-end {
		font-size: 50px;
		margin: 100px 0px 0px 0px;
	}	
	.wp-text-content {
		margin-bottom: 70px;
	}
	.descript {
		font-size: 28px;
	}
	.wp-sub-dtail {
		margin-bottom: 40px;
	}
	.wp-dtail {
		margin-bottom:50px;
	}
	.wp-footer {
		margin-top: 20px;
	}
}