/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/*----setting----*/
@import url('https://use.fontawesome.com/releases/v5.12.0/css/all.css');
@font-face {
	font-family: 'sukhumvit_setthin';
	src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot");
	src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-thin-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-thin-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-thin-webfont-webfont.svg#sukhumvit_setthin") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sukhumvit_setmedium';
	src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot");
	src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-medium-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-medium-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-medium-webfont-webfont.svg#sukhumvit_setmedium") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sukhumvit_settext';
	src: url("../fonts/sukhumvitset-text-webfont-webfont.eot");
	src: url("../fonts/sukhumvitset-text-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-text-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-text-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-text-webfont-webfont.svg#sukhumvit_settext") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sukhumvit_setbold';
	src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot");
	src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-bold-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-bold-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-bold-webfont-webfont.svg#sukhumvit_setbold") format("svg");
	font-weight: normal;
	font-style: normal;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'sukhumvit_setmedium';
	color: #5e5e5e;
}
.mt-5 {
	margin-top: -5px !important;
}
.mb-5 {
	margin-bottom: -5px !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'sukhumvit_setbold';
	line-height: 1.8;
}
p {
	line-height: 1.9;
	font-size: 16px;
	margin-top: 15px;
}
.text-orange {
	color: #F54D00;
}
.text-blue {
	color: #0066b2;
}
.text-darkblue {
	color: #025798;
}
.text-white {
	color: #fff;
}
.text-gray {
	color: #6B6B6B;
}
.text-bold {
	font-family: 'sukhumvit_setbold';
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-f18 {
	font-size: 18px !important;
}
.text-f20 {
	font-size: 20px !important;
}
.text-f24 {
	font-size: 24px !important;
}
.text-f26 {
	font-size: 26px !important;
}
.text-f40 {
	font-size: 40px !important;
}
.text-bold {
	font-family: 'sukhumvit_setbold' !important;
}
.bg-drakblue {
	background: rgba(0, 101, 178, 1) !important;
	background: -moz-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 101, 178, 1)), color-stop(100%, rgba(1, 50, 90, 1))) !important;
	background: -webkit-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%) !important;
	background: -o-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%) !important;
	background: linear-gradient(to bottom, rgba(0, 101, 178, 1) 0%, rgba(1, 50, 90, 1) 100%) !important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065b2', endColorstr='#01325a', GradientType=0) !important;
}
.btn-header a {
	color: #ffff;
	font-size: 18px !important;
	/*padding: 8px !important;*/
	border-radius: 5px;
}
.btn-header a:hover {
	text-decoration: none !important;
}
.btn-outro a {
	font-size: 24px;
	padding: 15px 55px;
	border: none;
	margin-top: 20px;
	background: rgba(230, 26, 36, 1);
	background: -moz-linear-gradient(top, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230, 26, 36, 1)), color-stop(100%, rgba(170, 14, 19, 1)));
	background: -webkit-linear-gradient(top, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	background: -o-linear-gradient(top, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	background: -ms-linear-gradient(top, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	background: linear-gradient(to bottom, rgba(230, 26, 36, 1) 0%, rgba(170, 14, 19, 1) 100%);
	-webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.45);
}
.btn-outro a:hover {
	background: rgba(161, 16, 23, 1);
	background: -moz-linear-gradient(top, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(161, 16, 23, 1)), color-stop(100%, rgba(112, 9, 12, 1)));
	background: -webkit-linear-gradient(top, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
	background: -o-linear-gradient(top, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
	background: -ms-linear-gradient(top, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
	background: linear-gradient(to bottom, rgba(161, 16, 23, 1) 0%, rgba(112, 9, 12, 1) 100%);
}
#footer img {
	margin-top: 25px;
}
span.name-social {
	color: #fff;
	font-size: 20px;
	position: relative;
	top: -35px;
	margin-left: 70px;
}
section.header {
	background-image: url("../img/Advertising-bg-1.jpg");
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
}
#headerLogo img {
	margin: 10px !important;
	width: 160px;
	margin-bottom: 60px !important;
}
#menu {
	position: absolute;
	right: 30px;
	top: 24px;
	font-size: 16px;
}
#menu a {
	color: white;
}
/* Header */
.header-text-details {
	float: right !important;
}
.people {
	bottom: 0px;
	left: 10%;
	position: absolute;
}
.sub-dtail {
	text-align: center;
	color: white;
}
.sub-dtail h1 {
	margin-top: 0px;
	font-size: 3vh;
}
.sub-details-2 {
	color: white;
}
.table>tbody>tr>td {
	border-top: none !important;
}
.table-text {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
.right {
	float: right !important;
}
.left {
	float: left !important;
}
.header-text-details {
	padding-left: 150px;
	padding-right: 0px;
	margin-top: 100px;
}
.sub-dtail h1 {
	font-size: 7vh;
}
.sub-dtail h2 {
	font-size: 5vh;
}
.sub-dtail {
	font-size: 4vh;
	font-family: "sukhumvit_setbold";
}
.sub-dtail span {
	font-size: 4vh;
	font-family: "sukhumvit_setmedium";
}
.sub-details-2 {
	margin: 20px !important;
	padding-left: 90px;
	font-size: 24px !important;
}
table.table-header {
	margin: 20px 0px;
}
.table-text {
	margin: 0px;
	font-size: 22px;
}
.btn-header {
	margin-top: 60px !important;
}
a.a-btn-header {
	border-radius: 10px;
	font-size: 30px !important;
	padding: 10px 40px;
}
.online-marketing {
	margin-top: 50px;
}
.online-marketing>.row>.col-md-12 {
	height: 572px !important;
}
.online-marketing-content {
	margin-top: 30px;
}
.online-marketing-list>li {
	margin: 20px 0px;
	padding-left: 25px;
	font-family: "sukhumvit_setbold";
}
.online-marketing-img {
	position: relative;
	bottom: 37vh;
	width: 62vh;
	left: 8vh;
}
.online-text {
	position: absolute;
	margin-top: 0px;
	left: 480px;
	bottom: 0px;
}
.result-img {
	width: 75vh;
	position: absolute;
	z-index: -2;
	right: -4vh;
}
.service .col-md-12 {
	margin-top: 50px;
}
.service-header {
	margin: 50px 0px !important;
}
.panel-service {
	border: none;
}
.panel-service-heading {
	background-color: #025798 !important;
	border-radius: 5px;
	margin-bottom: 40px;
}
.panel-service-heading p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.service-content-block {
	margin-top: 20px
}
.service-images {
	text-align: center !important;
	padding-left: 45px !important;
}
.service-img {
	width: 120px !important;
}
.panel-service-heading p, .service-content h3 {
	font-size: 22px;
}
.service-content p {
	font-size: 16px;
}
.contact {
	background-image: url("../img/computer.png");
	width: 100%;
	background-size: cover;
	height: 500px;
}
.contact-content {
	margin-top: 125px;
}
.res-bullet {
	margin-bottom: 30px;
}

.res-bullet p {
	font-size: 16px;
	margin-top: 5px;
}
.panel-service .row {
	display: block;
	margin-bottom: 30px;
}
.panel-service .row .service-content-header {
	margin-top: 0;
}
.panel {
	border: none !important;
	box-shadow: unset !important;
}

@media (max-width: 1687px) {
.img-people {
	max-width: 90% !important;
}
.header-text-details {
	padding-left: 20px;
	padding-right: 0px;
	margin-top: 163px;
}
.online-marketing-img {
	position: relative;
	bottom: 408px;
	width: 60vh;
	left: 6vh;
}
}

/*@media (max-width: 1440px) {
.img-people {
	max-width: 100% !important;
}
.online-marketing-img {
	position: relative;
	bottom: 408px;
	width: 60vh;
	left: 6vh;
}
.header-text-details {
	padding-left: 100px;
	padding-right: 0px;
	margin-top: 100px;
}
.sub-dtail h1 {
/*font-size: 4vh;*/
/*}
.sub-dtail p {
	font-size: 3vh;
	font-family: "sukhumvit_setbold";
}
.sub-dtail p>span {
	font-size: 3vh;
	font-family: "sukhumvit_setmedium";
}
.table-text {
	margin: 0px;
	font-size: 20px;
}
.sub-details-2 {
	margin: 20px !important;
	padding-left: 45px;
	font-size: 24px !important;
}
span.name-social {
	font-size: 15px !important;
}
}*/

/*@media (max-width:1280px) {
.header-text-details {
	right: 15%;
	padding-left: 0px;
	margin-top: 2px;
	z-index: 1;
}
.img-people {
	max-width: 450px !important;
}
.sub-details-2 {
	margin: 20px !important;
	padding-left: 0px;
}
.table-text {
	margin: 0px;
	font-size: 18px;
}
.online-marketing {
	margin-top: 50px;
}
.online-marketing>.row>.col-md-12 {
	height: 572px !important;
}
.online-marketing-content {
	margin-top: 30px;
}
.online-marketing-list>li {
	margin: 20px 0px;
	padding-left: 25px;
	font-family: "sukhumvit_setbold";
}
.online-marketing-img {
	position: relative;
	bottom: 32vh;
	width: 50vh;
	left: 0vh;
}
.online-text {
	position: absolute;
	margin-top: 0px;
	left: 480px;
	bottom: 0px;
}
.result-img {
	width: 75vh;
	position: absolute;
	z-index: -2;
	right: -2vh;
}
}
*/

/*@media (max-width: 991px) {
.header-text-details {
	right: 0% !important;
}
.img-people {
	max-width: 410px !important;
}
.sub-details-2 {
	padding-left: 10%;
}
.online-marketing {
	margin-bottom: 41vh;
}
.online-marketing-img {
	position: relative;
	float: none !important;
	width: 51vh;
	left: 11vh;
	bottom: 0vh;
}
.after-online-img {
	position: initial !important;
}
.online-text {
	position: initial !important;
	text-align: center !important;
}
.result-img {
	width: 65vh;
	position: relative;
	z-index: auto;
	right: 1vh;
	top: 6vh;
	margin-bottom: 45px;
}
.panel-service > .row {
	margin-bottom: 10px;
}
}*/



/*@media (max-width: 640px) {
.img-people {
	max-width: 330px !important;
}
.sub-dtail {
	margin-bottom: 25px;
}
.sub-header-dtail {
	margin-bottom: 30px !important;
}
.sub-dtail span {
	font-size: 3vh;
}
.sub-details-2 {
	padding-left: 10% !important;
}
.online-marketing {
	padding: 13px;
	margin-bottom: 55%;
}
.online-marketing-img {
	left: 3vh !important;
	width: 70%;
}
.result-img {
	width: 100%;
}
}

@media(max-width: 568px) {
.content-header {
	margin-top: -30px;
}
.sub-dtail h1 {
	font-size: 4vh;
}
.sub-header-dtail {
	margin-bottom: 0px !important;
	font-size: 4vh !important;
}
.sub-dtail p.visible-xs {
	font-size: 3.5vh;
	float: left;
	margin-top: 5px !important;
	margin-left: 26%;
}
.sub-dtail span.visible-xs {
	font-size: 16px;
	float: right;
	margin-top: 5px;
	margin-right: 26%;
}
.sub-details-2 {
	margin-bottom: 0px !important;
	padding-left: 15% !important;
}
.table-text {
	margin: 0px;
	font-size: 12px;
}
a.a-btn-header {
	border-radius: 10px;
	font-size: 13px !important;
}
}
*/
/*@media(max-width: 511px) {
.img-people {
	max-width: 277px !important;
}
.sub-dtail h1 {
	font-size: 2.5vh;
}
.sub-dtail span {
	font-size: 2vh;
}
a.a-btn-header {
	font-size: 19px !important;
}
.online-marketing h1 {
	font-size: 24px;
}
.online-marketing-list {
	padding: 0px 0px 0px 30px;
}
ul.online-marketing-list>li {
	padding-left: 0px;
	font-size: 16px;
}
.online-marketing-img {
	left: 0vh !important;
	width: 24vh;
}
.online-text {
	font-size: 19px !important;
}
.results h1 {
	font-size: 24px;
}
.result-img {
	width: 100%;
}
.res-bullet h3 {
	font-size: 16px;
}
.res-bullet p {
	font-size: 15px;
}
.service h1 {
	font-size: 24px;
}
.service-img {
	width: 50%;
}
.contact-content {
	padding: 0px 56px;
}
span.name-social {
	font-size: 13px !important;
}
}*/

/*@media (max-width: 414px) {
.content-header {
	margin-top: 30px;
}
.img-people {
	max-width: 330px !important;
}
.sub-dtail h1 {
	font-size: 4vh;
}
.sub-header-dtail {
	font-size: 3vh !important;
	margin-bottom: 5px !important;
}
.sub-dtail span {
	font-size: 3vh !important;
	float: none !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
}
.sub-dtail .visible-xs {
	float: none !important;
	margin-left: 0px !important;
	margin-bottom: 5px !important;
}
.sub-details-2 {
	margin: 18px !important;
	padding-left: 0px !important;
}
.table-text {
	margin: 0px;
	font-size: 16px;
}
.btn-header {
	margin-top: 50px !important;
}
a.a-btn-header {
	border-radius: 10px;
	font-size: 25px !important;
}
.online-marketing {
	padding: 13px;
	margin-top: 0vh
}
.online-text {
	font-size: 3vh;
}
.online-marketing-img {
	left: 3vh !important;
	width: 28vh;
}
.result-img {
	width: 100%;
}
.service-header {
	margin: 10px 0px !important;
}
.service-img {
	width: 100px;
}
.panel-service-heading p {
	font-size: 18px !important;
}
.service-media-body>p {
	font-size: 16px;
}
.contact-content {
	padding: 0px 70px;
}
}*/

/*@media(max-width: 375px) {
.content-header {
	margin-top: 30px;
}
.img-people {
	max-width: 277px !important;
}
.sub-dtail h1 {
	font-size: 4vh;
}
.sub-header-dtail {
	font-size: 3vh !important;
	margin-bottom: 5px !important;
}
.sub-dtail span {
	font-size: 3vh !important;
	float: none !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
}
.sub-dtail .visible-xs {
	float: none !important;
	margin-left: 0px !important;
	margin-bottom: 5px !important;
}
.sub-details-2 {
	padding-left: 0px !important;
}
a.a-btn-header {
	font-size: 19px !important;
}
.online-marketing h1 {
	font-size: 24px;
}
.online-marketing-list {
	padding: 0px 0px 0px 30px;
}
ul.online-marketing-list>li {
	padding-left: 0px;
	font-size: 16px;
}
.online-marketing-img {
	left: 0vh !important;
	width: 24vh;
}
.online-text {
	font-size: 19px !important;
}
.results h1 {
	font-size: 24px;
}
.result-img {
	width: 100%;
}
.res-bullet h3 {
	font-size: 16px;
}
.res-bullet p {
	font-size: 15px;
}
.service h1 {
	font-size: 24px;
}
.service-img {
	width: 50%;
}
.contact-content {
	padding: 0px 56px;
}
span.name-social {
	font-size: 13px !important;
}
}*/

/*@media (max-width: 320px) {
.content-header {
	margin-top: 20px;
}
.img-people {
	max-width: 241px !important;
}
.sub-dtail {
	margin-bottom: 5px !important;
}
.sub-dtail h1 {
	font-size: 4vh;
}
.sub-header-dtail {
	font-size: 3vh !important;
	margin-bottom: 5px !important;
}
.sub-dtail span {
	font-size: 2vh;
	float: none !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
}
.sub-dtail .visible-xs {
	float: none !important;
	margin-left: 0px !important;
	margin-bottom: 5px !important;
}
.sub-details-2 {
	margin: 0px !important;
	padding-left: 15px !important;
}
.table-text {
	margin: 0px;
	font-size: 12px;
}
a.a-btn-header {
	font-size: 19px !important;
}
.online-marketing h1 {
	font-size: 24px;
}
.online-marketing {
	margin-bottom: 36vh;
}
.online-marketing-list {
	padding: 0px 0px 0px 30px;
}
ul.online-marketing-list>li {
	padding-left: 0px;
	font-size: 16px;
}
.online-marketing-img {
	width: 24vh;
	left: 25% !important;
}
.online-text {
	font-size: 19px !important;
}
.results h1 {
	font-size: 24px;
}
.result-img {
	width: 100%;
}
.res-bullet h3 {
	font-size: 16px;
}
.res-bullet p {
	font-size: 15px;
}
.service-images {
	padding-left: 15px !important;
}
.service h1 {
	font-size: 24px;
}
.service-img {
	width: 25%;
}
span.name-social {
	margin-left: 46px;
	font-size: 10px !important;
}
#footer img {
	width: 35px !important;
}
}*/



@media (max-width: 650px) {
.header .sub-dtail h2 {
	font-size: 2vh !important;
}
.btn-header a.a-btn-header {
	font-size: 16px !important;
}
.header-text-details .sub-details-2 {
	padding: 0 !important;
}
.table-header .table-text {
	font-size: 15px;
}
.people {
	width: 100%;
}
.people .img-people {
	max-width: 180px !important;
	display: block;
	margin: auto;
}
.sub-dtail {
	margin-bottom: 25px;
}
.sub-header-dtail {
	margin-bottom: 30px !important;
}
.sub-dtail span {
	font-size: 3vh;
}
.online-marketing .after-online-img {
	position: static;
}
.online-marketing .online-text {
	position: static;
	font-size: 22px;
}
.panel-service .service-images {
	margin-bottom: 15px;
}
.panel-service .service-content h3 {
	font-size: 20px;
}
.sub-details-2 {
	padding-left: 10% !important;
}
.results h2 {
	font-size: 20px;
}
.res-bullet h3 {
	font-size: 16px !important;
}
.online-marketing {
	padding: 13px;
	margin-bottom: 55% !important;
	margin-top: 0;
}
.online-marketing-img {
	left: 3vh !important;
	width: 70%;
}
.result-img {
	width: 100%;
}
.online-marketing .text-f20 {
	font-size: 16px !important;
}
.online-marketing .online-marketing-img {
	bottom: 47vh;
	width: 20vh !important;
}
.online-marketing-content .online-marketing-list {
	padding: 0;
	margin-left: 20px;
}
.online-marketing-content .online-marketing-list>li {
	margin: 10px 0px;
}
#footer img {
	margin: 20px auto;
	max-width: 30px;
}
#footer span.name-social {
	display: none;
}
}

/*@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
.img-people {
	max-width: 330px !important;
}
.sub-dtail {
	margin-bottom: 25px;
}
.sub-header-dtail {
	margin-bottom: 30px !important;
}
.sub-dtail span {
	font-size: 3vh;
}
.sub-details-2 {
	padding-left: 10% !important;
}
.online-marketing {
	padding: 13px;
	margin-bottom: 55%;
}
.online-marketing-img {
	left: 3vh !important;
	width: 70%;
}
.result-img {
	width: 100%;
}


}
*/

@media (max-width: 768px) {
.header .content-header {
	margin-top: 10px;
}
.header .sub-dtail h1 {
	font-size: 4vh;
}
.header .sub-dtail h2 {
	font-size: 2.5vh;
}
.online-marketing .online-marketing-img {
	bottom: 43vh;
	width: 40vh;
}
.header .sub-dtail span {
	font-size: 3vh;
}
.sub-details-2 {
	padding: 0 35px !important;
}
.img-people {
	max-width: 370px !important;
}
.img-people {
	width: 100%;
}
.sub-header-dtail {
	margin-top: 0px;
}
.sub-dtail p.visible-xs {
	font-size: 3.5vh;
	float: left;
	margin-top: 5px !important;
	margin-left: 28%
}
.sub-dtail span.visible-xs {
	font-size: 16px;
	float: right;
	margin-top: 5px;
	margin-right: 28%;
}
.sub-details-2 {
	padding-left: 20%;
}
.table-text {
	margin: 0px;
	font-size: 14px;
}
.table>tbody>tr>td {
	padding: 0px;
}
a.a-btn-header {
	border-radius: 10px;
	font-size: 20px !important;
}
.online-marketing {
	margin-bottom: 30vh
}
.online-marketing-img {
	width: 70%;
}
.result-img {
	width: 100%;
}
#footer img {
	margin-top: 19px;
	max-width: 35px;
}
span.name-social {
	top: -30px;
	margin-left: 50px;
	font-size: 16px;
}
.contact {
	background-position: center bottom;
}
.service-img {
	width: 90px !important;
}
.results .result-img {
	width: 100%;
	position: static;
}
}

@media (max-width: 1024px) {
.header-text-details {
	right: 0%;
	padding-left: 0px;
	margin-top: 2px;
	z-index: 1;
}
.people {
	left: 0;
}
.img-people {
	max-width: 100%;
}
.sub-dtail h1 {
	font-size: 5vh;
}
.sub-dtail h2 {
	font-size: 3vh;
}
.sub-details-2 {
	margin: 20px !important;
	padding-left: 0px;
}
.sub-dtail span {
	text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(255,255,255,0);
	color: white;
	font-family: 'sukhumvit_setbold';
}
.content-header {
	margin-top: 85px;
}
a.a-btn-header {
	font-size: 25px !important;
}
.table-text {
	margin: 0px;
	font-size: 18px;
}
.online-marketing-img {
	position: relative;
	bottom: 52vh;
	width: 51vh;
	left: 0vh;
}
.online-marketing {
	position: relative;
	margin-bottom: 50px;
}
.online-marketing .online-text {
	width: 100%;
	display: block;
	left: 0;
	text-align: center;
}
.online-marketing-content .online-marketing-list>li {
	padding-left: 0;
}
.service-images {
	padding-left: 25px !important;
}
.after-online-img {
	position: absolute;
}
.result-img {
	width: 128%;
	position: absolute;
	z-index: -2;
	right: 1vh;
	top: 6vh;
}
}

/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
.img-people {
	max-width: 467px !important;
}
.table-text {
	margin: 0px;
	font-size: 18px !important;
}
.header-text-details {
	right: 17%;
}
.sub-dtail span {
	text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(255,255,255,0);
	color: white;
	font-size: 3vh;
	display: block;
	font-family: 'sukhumvit_setbold';
}
.sub-dtail h1 {
	font-size: 3.5vh;
}
.sub-dtail h2 {
	font-size: 2.5vh;
}
.online-marketing-img {
	bottom: 33vh;
	width: 35vh;
}
.online-marketing {
	position: relative;
	margin-bottom: 50px;
}
.online-marketing .online-text {
	width: 100%;
	display: block;
	left: 0;
	text-align: center;
}
.online-marketing-content .online-marketing-list>li {
	padding-left: 0;
}
.panel-service .service-images {
	padding-left: 15px !important;
}
}

/* Landscape */
 
@media only screen and (min-device-width: 1112px) and (orientation: landscape) {
.header-text-details {
	margin-top: 100px;
	padding-right: 0px;
	padding-left: 40px;
}
.sub-dtail h1 {
	font-size: 5vh;
}
.sub-dtail h2 {
	font-size: 3.5vh;
}
.sub-dtail h2 span {
	font-size: 4vh;
	display: block;
	font-family: 'sukhumvit_setbold';
	text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(255,255,255,0);
	color: white;
}
.people {
	left: 0%;
}
.img-people {
	max-width: 122% !important;
}
.online-marketing {
	position: relative;
	margin-bottom: 50px;
}
.online-marketing .online-text {
	width: 100%;
	display: block;
	left: 0;
	text-align: center;
}
.online-marketing-content .online-marketing-list>li {
	padding-left: 0;
}
.results {
	overflow: hidden;
}
.results .result-img {
	position: static;
}
}
