/*----setting----*/
@font-face {
  font-family: 'sukhumvit_setthin';
  src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-thin-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-thin-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-thin-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-thin-webfont-webfont.svg#sukhumvit_setthin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setmedium';
  src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-medium-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-medium-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-medium-webfont-webfont.svg#sukhumvit_setmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_settext';
  src: url("../fonts/sukhumvitset-text-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-text-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-text-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-text-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-text-webfont-webfont.svg#sukhumvit_settext") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setbold';
  src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot");
  src: url("../fonts/sukhumvitset-bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sukhumvitset-bold-webfont-webfont.woff") format("woff"), url("../fonts/sukhumvitset-bold-webfont-webfont.ttf") format("truetype"), url("../fonts/sukhumvitset-bold-webfont-webfont.svg#sukhumvit_setbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

.footer-mobile{
	display: none;
}
html{scroll-behavior: smooth;}
body{font-family: 'sukhumvit_setmedium'; color: #5e5e5e;}
h1,h2,h3,h4,h5,h6 {font-family: 'sukhumvit_setbold'; line-height: 1.8;}
p{line-height: 1.9; font-size: 16px; margin-top: 15px;}

.text-orange {color: #F54D00;}
.text-blue {color: #0066b2;}
.text-darkblue {color: #025798;}
.text-white{color:#fff;}
.text-gray{color:#6B6B6B;}

.text-bold {font-family: 'sukhumvit_setbold';}
.text-center{text-align: center;}
.text-right{text-align: right;}

.text-f18{font-size: 18px !important;}
.text-f20{font-size: 20px !important;}
.text-f24{font-size: 24px !important;}
.text-f26{font-size: 26px !important;}
.text-f40{font-size: 40px !important;}
.text-bold{font-family: 'sukhumvit_setbold';}

.m-5{margin-top: -5px;}

.bg-drakblue{
background: rgba(0,101,178,1);
background: -moz-linear-gradient(top, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,101,178,1)), color-stop(100%, rgba(1,50,90,1)));
background: -webkit-linear-gradient(top, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
background: -o-linear-gradient(top, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
background: -ms-linear-gradient(top, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
background: linear-gradient(to bottom, rgba(0,101,178,1) 0%, rgba(1,50,90,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065b2', endColorstr='#01325a', GradientType=0 );
}

.bg-bluegra {background: #353796;
background: -moz-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #353796), color-stop(74%, #1e75ce), color-stop(77%, #1d77d0));
background: -webkit-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
background: -o-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
background: -ms-linear-gradient(top, #353796 0%, #1e75ce 74%, #1d77d0 77%);
background: linear-gradient(to bottom, #353796 0%, #1e75ce 74%, #1d77d0 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353796', endColorstr='#1d77d0', GradientType=0 );}

.bg-orange {background: #fe592d;
background: -moz-linear-gradient(top, #fe592d 0%, #f1961a 74%, #f09819 77%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #fe592d), color-stop(74%, #f1961a), color-stop(77%, #f09819));
background: -webkit-linear-gradient(top, #fe592d 0%, #f1961a 74%, #f09819 77%);
background: -o-linear-gradient(top, #fe592d 0%, #f1961a 74%, #f09819 77%);
background: -ms-linear-gradient(top, #fe592d 0%, #f1961a 74%, #f09819 77%);
background: linear-gradient(to bottom, #fe592d 0%, #f1961a 74%, #f09819 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe592d', endColorstr='#f09819', GradientType=0 );}


.btn-more a {padding: 10px 20px;background: transparent;border: 1px solid #fff;border-radius: 0;}
.btn-more a:hover{background-color: #fe592d; border: 1px solid #fe592d !important;}
.bg-white .btn-more a {background: transparent;border: 1px solid #a1a3a7;border-radius: 0; color: #2e2e30;}
.btn-more.btn-orange a{color: #fe592d !important; border-color: #fe592d;}
.btn-more.btn-orange a:hover{color: #fff!important;}

.title-service { text-align: center; margin: 0; padding: 0;}
.title-service.bg-tt-orange h3 {  font-size: 23px;
color: #fff; background: #ff522f;
background: -moz-linear-gradient(-45deg, #ff522f 0%, #f09719 58%, #f09819 59%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #ff522f), color-stop(58%, #f09719), color-stop(59%, #f09819));
background: -webkit-linear-gradient(-45deg, #ff522f 0%, #f09719 58%, #f09819 59%);
background: -o-linear-gradient(-45deg, #ff522f 0%, #f09719 58%, #f09819 59%);
background: -ms-linear-gradient(-45deg, #ff522f 0%, #f09719 58%, #f09819 59%);
background: linear-gradient(135deg, #ff522f 0%, #f09719 58%, #f09819 59%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff522f', endColorstr='#f09819', GradientType=1 );-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px; 
display: inline-block; 
margin:auto;  width: 370px; padding:12px 20px; }

.title-service.bg-tt-blue h3 {  font-size: 23px;
color: #fff; background: #353796;
background: -moz-linear-gradient(-45deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #353796), color-stop(58%, #1e75ce), color-stop(59%, #1d77d0));
background: -webkit-linear-gradient(-45deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
background: -o-linear-gradient(-45deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
background: -ms-linear-gradient(-45deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
background: linear-gradient(135deg, #353796 0%, #1e75ce 58%, #1d77d0 59%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff522f', endColorstr='#f09819', GradientType=1 );-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px; 
display: inline-block; 
margin:auto;  width: 370px; padding:12px 20px; }

.long .title-service.bg-tt-blue h3,.long .title-service.bg-tt-orange h3 {width: 450px;}

li{line-height: 1.9;font-size: 16px;}
ul{padding-left: 20px !important;}

/*----table----*/
.price-table{margin-top: 150px; margin-bottom: 80px;}
.price-table table{width: 800px; margin:auto; border-collapse: collapse; border-radius: 0.5em; overflow: hidden;}
.price-table table tr:nth-child(odd) {background: #f5f5f5;}
.price-table table th {text-align: center; font-family: 'sukhumvit_setbold'; font-weight: 400; font-size: 15px; background:#E3E3E3; border: 1px solid #E3E3E3; padding: 20px; color: #3e3e3e; width: 20%;}
.price-table table td {text-align: center; border: 1px solid #CCCCCC; padding: 15px; font-size: 14px; font-family: 'sukhumvit_setmedium';}
.price-table table td img {width: 90%; max-width: 200px; margin: auto; display: block;}
.price-table table tr:nth-child(odd) td:first-child {background-color: rgba(20, 20, 20, 0.05); background: rgba(20, 20, 20, 0.05);}
.price-table table {margin-bottom: 20px;}

.tab-table .tab-content {padding: 0;}
.tab-table .nav-pills{display: table; width: 90%; margin:auto; padding-left: 0; margin-bottom: 0;}
.tab-table .nav-pills > li {font-size: 12px;}
.tab-table .nav-pills > li.active a {color: #fff; background-color: #fe592d; text-decoration: none;}
.tab-table .nav-pills > li > a {border-radius: 4px 4px 0 0; padding: 10px 0px 10px 0px; display: block; text-align: center; border-radius: 4px 4px 0 0; background-color: #f5f5f5; border: 1px solid #d5d5d5;}
.tab-table .nav-pills > li > a.active {color: #fff; background-color: #0b67b1;}
.tab-table .nav-pills > li > a:focus {outline: none;}
.tab-table .nav-pills li {list-style: none; display: table-cell; margin-left: 0; padding: 0;}
.tab-table .nav-pills.tab-adword > li > a {line-height: 1.7; font-size: 11px;}
.tab-table .nav-pills1 > li > a {background-color: #f1f1f2; outline: 1px solid #FFFFFF;}
.tab-table .nav-pills.blue > li.active a{background-color: #0066b2;}

.ico {
	background-image: url(https://www.tarad.net/wp-content/themes/taradnet/images/icon-taradnet.png);
	background-repeat: no-repeat;
	background-size: 560px;
	width: 29px;
	height: 29px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.ico.ico-chackgreen, .ico.ico-unchack {background-size: 800px; width: 50px; height: 28px;transform: scale(0.8);}
.ico.ico-unchack {background-position: -655px -85px;}
.ico.ico-chackgreen {background-position: -612px -82px;}

.text-orange.free{font-size: 25px;}
.text-orange.total {font-size: 18px; font-family: 'sukhumvit_setbold';}

.b-20{margin-bottom: 20px;}
.b-10{margin-bottom: 10px;}
.t-10{margin-top: 10px;}

/*----Header----*/

#headerLogo img{margin-bottom: 70px !important;}
section#header{
	background-image:url(../img-ucom-1/header_bg.png);
	background-size: cover;
	height:750px;
}
.fix-header #menu {position: absolute;right: 40px; top: 45px;font-size: 20px;}
.fix-header #menu a:hover{color: #ffb331;}
.fix-header #menu a:active,.fix-header #menu a:focus{color: #fff;}

section#header h1 span {font-family: 'sukhumvit_setmedium';}
section#header h1 {font-size: 60px;}
section#header h3 {margin-top: -15px; font-size: 26px;}
section#header p{font-size: 20px; padding: 0 34%;}
.btn.btn-outline {color: #fff; font-size: 18px; border: 2px solid #fff; border-radius: 5px; padding: 10px 25px;margin-top: 20px;}
.btn.btn-outline:hover{background-color: #025798;}
button.modal-open {
    position: absolute;
    margin-top: 175px;
    margin-left: -95px;
    background: transparent;
    border: transparent;
}
button.modal-open:focus{outline: none;}
.header-img img.vdo{-webkit-box-shadow: 0px 20px 50px -20px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 20px 50px -20px rgba(0,0,0,0.4);
	box-shadow: 0px 20px 50px -10px rgba(0,0,0,0.4);}

.modal-header{border: none;}
.modal-content{background-color: transparent; box-shadow: none; border: none;}
.close {font-size: 50px; color: #fff; opacity: 1;}

/*----content----*/

img.img-header {width: 100%;}
.content .bg{
	background-color: #fff; padding:4.5em 5.5em 480px 5.5em; position: relative; top:-70px;
	-webkit-box-shadow: 0px 20px 50px -20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 20px 50px -20px rgba(0,0,0,0.2);
	box-shadow: 0px 20px 50px -10px rgba(0,0,0,0.2);
}
.content p.indent {text-indent: 2.5em;}
.content p.list{margin-left: 4.4em;}
.content .content-detail p{margin-bottom: 0px; margin-top: 12px; color: #888;}
.content .content-detail li{color: #888;}
.content-detail{margin-top: 25px;}
.content h3 {margin-top: 10px;}
.content .service{margin-top: 70px;}
.content .service .facebook{padding-right: 26%;}
.content .service .right{float: right;}

img.img-content{width: auto; height: auto; margin:auto;}
img.img-content.img1 {width: 470px; margin-top: 8em;}
img.img-content.img2 {margin-top: 5em;}
img.img-content.img3 {margin-top: 7em;}
h3.text-outro{padding: 0 6em;}

section.content {margin-top: 340px;}
.box-logo {margin-top: 30px;}
.box-logo img.img-logo {height: 60px;}

#bg-gra {height: 430px; margin-top: -370px; background-image:url(../img-ucom-1/testimonal-bg.png);background-position: bottom;}
#testimonal{margin-top: 80px;}
img.img-testimonal {width: 150px;}
p.text-testimonal {font-size: 24px; margin-top: 55px;}
h2.text-testimonal {margin-top: -15px;}
.testimonal-box:focus {outline: none!important;}
.testimonal-arrow{
    content: '';
    display: block;
    border: 11px solid #ffffff00;
    border-bottom-color: #f5f3f4;
    position: absolute;
    bottom: 135px;
    margin-left: 180px;
    transform: rotate(180deg);
}
.testimonal-detail {background-color: #F5F3F4; height: 340px; margin: 0 15px; padding: 38px 45px 38px 45px; -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.16);}
.testimonal-detail p {color: #6B6B6B;line-height: 1.6; margin-bottom:0px; text-align: left; font-size: 16px;}
.testimonal-store img {width: 80px; margin: 30px auto 10px auto;}
.testimonal-store p {margin-top: -15px; font-size: 14px; color: #fff;}
.testimonal-store a{color: #fff;}
.testimonal-store p.name {margin-top: 0px;}
#testimonal .slider{margin-top: 30px;}
.slick-dots li button:before{color: #fff !important;}
.slick-dots {padding-top: 5px !important;}

#contact { padding-top: 50px; padding-bottom: 70px;}
#contact h1{font-size: 30px; padding: 0px 14%; line-height: 1.6;}

.btn-outro a{font-size: 24px;padding: 15px 55px;border: none;margin-top: 20px;
background: rgba(230,26,36,1);
background: -moz-linear-gradient(top, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,26,36,1)), color-stop(100%, rgba(170,14,19,1)));
background: -webkit-linear-gradient(top, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
background: -o-linear-gradient(top, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
background: -ms-linear-gradient(top, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
background: linear-gradient(to bottom, rgba(230,26,36,1) 0%, rgba(170,14,19,1) 100%);
-webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.45);
}
.btn-outro a:hover{
	background: rgba(161,16,23,1);
background: -moz-linear-gradient(top, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(161,16,23,1)), color-stop(100%, rgba(112,9,12,1)));
background: -webkit-linear-gradient(top, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
background: -o-linear-gradient(top, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
background: -ms-linear-gradient(top, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
background: linear-gradient(to bottom, rgba(161,16,23,1) 0%, rgba(112,9,12,1) 100%);
}


#footer img{margin-top: 25px;}
span.name-social {color: #fff; font-size: 20px; position: relative; top: -35px; margin-left: 70px;}

@media (max-width:800px) {
	.footer-mobile{
		display: block;
		padding-bottom: 25px;
	}
	.footer-pc{
		display: none;
	}
}

/*----responsive----*/
@media (max-width: 1600px){
	section#header p {padding: 0px 31%;}
}
@media (max-width: 1440px){
	section#header p {padding: 0px 29%;}
}
@media (max-width: 1280px){
	section#header p {padding: 0px 27%;}
}
@media (max-width: 1199px){
	h3.text-outro{padding: 0 2em;}
	#contact h1{padding: 0px 5%;}
	img.img-content.img1,img.img-content.img2,img.img-content.img3{margin-top: 10em;}
	img.img-content.img4 {margin-top: 7em;}
	#footer img {margin-top: 25px; width: 35px;}
	span.name-social {top: -30px; margin-left: 57px;}
	.content .service .facebook {padding-right: 9%;}
	section#header p {padding: 0px 25%;}
}
@media (max-width: 1130px){
}
@media (max-width: 1024px){
	section#header h1 {font-size: 46px;}
	section#header h3 {font-size: 24px;}
	section#header p {font-size: 18px; padding: 0px 24%;}
	.content h3{font-size: 22px;}
	.content p.text-f20{font-size: 18px !important;}
	#contact .text-f26{font-size: 21px !important;}
	#contact h1 {font-size: 24px;}
	#contact .text-f20{ font-size: 18px !important;}
	.btn-outro a {font-size: 20px;}
	span.name-social{font-size: 16px; top:-26px;}
	.content .service .facebook {padding-right: 18%;}
}
@media (max-width: 1000px){

}
@media (max-width: 991px){
	img.img-content.img1, img.img-content.img2, img.img-content.img3, img.img-content.img4 {margin-top: 1.5em; margin-bottom: 1.5em;}
	.content .service .facebook {padding-right: 0%;}
	.box-logo img.img-logo {height: 40px;}
	.intro .store{font-size: 17px !important;}
	.content .service .facebook {padding-right: 0%;}
}
@media (max-width: 768px){
	.content p.text-f20{font-size: 16px !important;}
	section#header p {padding: 0px 15%;}
}
@media (max-width: 640px){
	#headerLogo img{margin: 10px!important; width: 160px; margin-bottom: 60px !important;}
	.fix-header #menu {right: 30px;top: 24px; font-size: 16px;}
	section#header h1 {font-size: 26px;}
	section#header h3 {font-size: 18px;padding: 0 42px; margin-top: 10px;}
	section#header p {font-size: 15px; padding: 0 14%;}
	button.modal-open{margin-left: -10%;}
	button.modal-open img{width: 130px;}
	.intro h1{font-size: 24px;}
	section.content {margin-top: 200px;}
	.content h3 {font-size: 18px;}
	#contact h1{padding: 0px; font-size: 21px;}
	#contact .text-f26 {font-size: 18px !important;padding: 0 35px;}
	#contact .text-f20 {font-size: 16px !important; padding: 0 20px;}
	.btn-outro a{padding: 15px 25px;}
	p.text-testimonal {font-size: 19px;}
	h2.text-testimonal { font-size: 24px;}
	#footer img {margin: auto;margin-top: 20px;}
	.testimonal-detail{padding: 20px 25px 38px 25px;}

}
@media (max-width: 414px){
	.header-img img.vdo{width: 360px;}
	button.modal-open {margin-left: -68px; margin-top: 80px;}
	section#header {height: 630px;}
	.testimonal-detail{padding: 38px 25px 38px 25px;}
	.testimonal-arrow{margin-left: 185px!important;}
}
@media (max-width: 375px){
	section#header p {font-size: 15px; padding: 0 10%;}
	.testimonal-arrow{margin-left: 160px!important;}
}
@media (max-width: 320px){
	button.modal-open {margin-left: -55px;}
	button.modal-open img {width: 100px;}
	p.text-testimonal{font-size: 16px; margin-top: 5px;}
	#footer img {width: 25px;}
	span.name-social {margin-left: 35px; font-size: 14px;}
	#contact .text-f26 {font-size: 18px !important;padding: 0px;}
	#contact .text-f20 {font-size: 16px !important; padding: 0px;}
	.btn-outro a {padding: 15px 20px;}
}